<!DOCTYPE html>
<html>
<head>
	<title>Friends</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"></style>
</head>
<body>
	<div id="container">
		<header>
			<h1>Weird F&bull;r&bull;i&bull;e&bull;n&bull;d&bull;s Thing</h1>
		</header>
		<main>
			{% include 'menu.html' %}
			<h4>What?</h4>
			<p>
				Choose a season from the menu above, and you'll find a list of the episodes in that season and
				the popularity of the season's Wikipedia page (in terms of the number of hits it has received in the last 60 days).
			</p>
			<h4>Why?</h4>
			<p>
				This project was made quickly late one night to learn a little about
				using Python to do two things:
				<ul>
					<li>Serving up dynamic web pages with <a href="http://flask.pocoo.org/" target="_blank">Flask</a> and</li>
					<li>Web scraping with <a href="https://www.crummy.com/software/BeautifulSoup/" target="_blank">BeautifulSoup.</a></li>
				</ul>
			</p>
		</main>
		<footer>
		</footer>
	</div>
</body>
</html>